#searchButton {
    margin: 0px;
    font-size: 20px;
    border-radius: 12px;
    background: rgb(255,255,255);
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    border-width: 1px;
}
