#root .profileView {
    width: 65vw;
    margin: 0 auto;
}

#root .memberProfileTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

#root .memberProfileTop div {
    text-align: center;
    font-size: 16px;
}

#root .memberProfileTop div .memberProfileTopNumber {
    font-size: 30px;
    margin-bottom: 10px;
}

#root .memberProfileImage {
    border-radius: 50%;
    cursor: pointer;
    width: 10vw;
    height: 10vw;
}

#root .memberProfileTabs .menu .item {
    font-size: 16px;
}

#root .myListingsProfile, #root .transactionHistoryProfile, #root .currentTransactionsProfile {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

#root .memberGroupNames {
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 10px;
}

#root .memberGroupNames div, #root .myListingsProfile div, #root .transactionHistoryProfile div, #root .currentTransactionsProfile div {
    font-size: 20px;
}

#root .memberGroupContent {
    margin-top: 25px;
}

#root .memberGroupsProfile, #root .memberAddress {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

#root .memberGroupsProfile img {
    height: 25px;
    width: 25px;
    margin-left: 10px;
    cursor: pointer;
}

#root .myListingsProfile .myListingsProfileInner, #root .transactionHistoryProfile .transactionHistoryProfileInner, #root .currentTransactionsProfile .currentTransactionsProfileInner {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

#root .deleteMember {
    margin-top: 30px;
}

#body .modalProfileImages.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#body .modalProfileImage {
    height: 75px;
    width: 75px;
    margin: 10px;
    cursor: pointer;
}
