#root .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin: 20px auto;
}

.navBar form #searchBar {
    width: 50vw;
    font-size: 16px;
}

#root .navBar .navBarDropDown i {
    font-size: 2em;
}

#root .navBar .navBarLogo {
    cursor: pointer;
}
