#root .members {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

#root .membersInGroup {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    min-width: 30vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

#root .membersInGroup p {
    margin-bottom: 0px;
    font-size: 16px;
    margin-right: 20px;
}
